/Prueba_LCD.X/nbproject/private/
/Prueba_LCD.X/build/default/
/Prueba_LCD.X/dist/default/
/Hello_LCD.X/nbproject/private/
/Hello_LCD.X/build/default/
/Hello_LCD.X/dist/default/
/PruebaRS232.X/nbproject/private/
/PruebaRS232.X/build/default/